@import "../utils/breakpoints.scss";

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    align-self: center;
    margin-top: 3%;
    background-color: #0d1b2a;
    padding: 0.6rem 1rem;
    border-radius: 1.4rem;
    border: 0.2rem solid #0d1b2a;
}

.toggle {
    position: absolute;
    background-color: rgba(72, 86, 108, 0.4);
    height: 100%;
    width: 55%;
    z-index: 1;
    left: 0;
    border-radius: 1.4rem;
    transition: all 0.3s bezier(0.3, 1.01, 0.54, 0.97);
    box-shadow: 0 0 0.5rem 0 rgba(8, 12, 19, 0.4);
}

.language {
    @include respond(font-size, 1rem, 1rem, 1.1rem, 1.3rem, 1.5rem);
    z-index: 3;
    transition: all 0.3s bezier(0.3, 1.01, 0.54, 0.97);
    user-select: none;
}
